<%= form_for([@recipe, @recipe_ingredient]) do |f| %>
 
  <% if @recipe_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe_ingredient.errors.count, "error") %> prohibited
        this recipe step from being saved:
      </h2>
      <ul>
        <% @recipe_ingredient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :product %><br>
    <%= f.number_field :product %>
  </p>

  <p>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>

<% if !(@recipe_ingredient.new_record?) %>
<script type="text/javascript"> // Dirty workaround, but it works ;)
  $("#recipe_ingredient_product").val('<%= @recipe_ingredient.product.id %>');
</script>
<% end %>
 
<% end %>