<li>
  <%==
  product_link = link_to recipe_ingredient.product.name, product_path(recipe_ingredient.product)
  if (recipe_ingredient.quantity.length == 0)
  	product_link
  elsif (recipe_ingredient.quantity.start_with?(*('0'..'9')))
  	(recipe_ingredient.quantity + " of " + product_link)
  else
  	(product_link + " " + recipe_ingredient.quantity)
  end
  %>


  | 
  <%= link_to 'Edit', edit_recipe_recipe_ingredient_path(@recipe, recipe_ingredient) %> |
  <%= link_to 'Destroy', recipe_recipe_ingredient_path(@recipe, recipe_ingredient),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</li>