<h1>Categories</h1>

<%= link_to 'New category', new_recipe_category_path %>

<table>
  <tr>
    <th>Category name</th>
    <th></th>
  </tr>
 
  <% @categories.each do |article| %>
    <tr>
      <td><%= article.name %></td>
      <td><%= link_to 'Show details', recipe_category_path(article) %></td>
      <td><%= link_to 'Edit', edit_recipe_category_path(article) %></td>
      <td><%= link_to 'Destroy', recipe_category_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>