<p>
  <strong>Id:</strong>
  <%= @category.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<h2>Recipes in this category</h2>
<ul>
<% @recipes.each do |recipe| %>
<li><%= link_to recipe.name, recipe %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_recipe_category_path(@category) %> |
<%= link_to 'Back', recipe_categories_path %>