<%= form_for([@recipe, @recipe_step]) do |f| %>
 
  <% if @recipe_step.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe_step.errors.count, "error") %> prohibited
        this recipe step from being saved:
      </h2>
      <ul>
        <% @recipe_step.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :step_number %><br>
    <%= f.number_field :step_number %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>