<li>

<% if recipe_step.image %>
<img src="<%= recipe_step.image %>">
<% end %>

  <%= recipe_step.description %> | 
  <%= link_to 'Edit', edit_recipe_recipe_step_path(@recipe, recipe_step) %> |
  <%= link_to 'Destroy', recipe_recipe_step_path(@recipe, recipe_step),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</li>