<%= form_for @recipe do |f| %>
 
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </p>

  <p>
    <%= f.label :product %><br>
    <%= f.number_field :product %>
  </p>

  <p>
    <%= f.label :cuisine %><br>
    <%= f.number_field :cuisine %>
  </p>

  <p>
    <%= f.label :recipe_category %><br>
    <%= f.number_field :recipe_category %>
  </p>

  <p>
    <%= f.label :cooking_method %><br>
    <%= f.text_field :cooking_method %>
  </p>

  <p>
    <%= f.label :preperation_time %><br>
    <%= f.text_field :preperation_time %>
  </p>

  <p>
    <%= f.label :cooking_time %><br>
    <%= f.text_field :cooking_time %>
  </p>

  <p>
    <%= f.label :amount_of_servings %><br>
    <%= f.text_field :amount_of_servings %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>