<h1>Recipes</h1>

<%= link_to 'New recipe', new_recipe_path %>

<table>
  <tr>
    <th>Recipe name</th>
    <th>Cooking method</th>
    <th>Preperation time</th>
    <th>Cooking time</th>
    <th>Amount of servings</th>
  </tr>
 
  <% @recipes.each do |article| %>
    <tr>
      <td><%= article.name %></td>
      <td><%= article.cooking_method %></td>
      <td><%= article.preperation_time %></td>
      <td><%= article.cooking_time %></td>
      <td><%= article.amount_of_servings %></td>
      <td><%= link_to 'Show details', recipe_path(article) %></td>
      <td><%= link_to 'Edit', edit_recipe_path(article) %></td>
      <td><%= link_to 'Destroy', recipe_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>