<h2>
  <%= @recipe.name %>
</h2>

<p>
  <strong>Id:</strong>
  <%= @recipe.id %>
</p>

<% if @recipe.image %>
  <div style="width: 100%; text-align: center;">
    <img src="<%= @recipe.image %>">
  </div>
  <% end %>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%=
  if !(@recipe.cuisine.nil?)
    link_to @recipe.cuisine.name, cuisine_path(@recipe.cuisine)
  else
    "no cuisine selected"
  end
  %>
</p>

<p>
  <strong>Category:</strong>
  <%=
  if !(@recipe.recipe_category.nil?)
    link_to @recipe.recipe_category.name, recipe_category_path(@recipe.recipe_category)
  else
    "no category selected"
  end
  %>
</p>

<p>
  <strong>Final product:</strong>
  <%=
  if !(@recipe.product.nil?)
    link_to @recipe.product.name, product_path(@recipe.cuisine)
  else
    "no final product selected"
  end
  %>
</p>

<p>
  <strong>Cooking method:</strong>
  <%= @recipe.cooking_method %>
</p>

<p>
  <strong>Preperation time:</strong>
  <%= @recipe.preperation_time %>
</p>

<p>
  <strong>Cooking time:</strong>
  <%= @recipe.cooking_time %>
</p>

<p>
  <strong>Amount of servings:</strong>
  <%= @recipe.amount_of_servings %>
</p>


<h2>Ingredients</h2>
<ul>
  <%= render @recipe.recipe_ingredients %>
</ul>

<h2>How to make it</h2>
<ol>
  <%= render @recipe.recipe_steps.order('step_number ASC') %>
</ol>


<%= link_to 'Add ingredient', new_recipe_recipe_ingredient_path(@recipe) %> |
<%= link_to 'Add step', new_recipe_recipe_step_path(@recipe) %> |
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>