<%= form_for @cuisine do |f| %>
 
  <% if @cuisine.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cuisine.errors.count, "error") %> prohibited
        this cuisine from being saved:
      </h2>
      <ul>
        <% @cuisine.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>