<h1>Cuisines</h1>

<%= link_to 'New cuisine', new_cuisine_path %>

<table>
  <tr>
    <th>Cuisine name</th>
    <th></th>
  </tr>
 
  <% @cuisines.each do |article| %>
    <tr>
      <td><%= article.name %></td>
      <td><%= link_to 'Show details', cuisine_path(article) %></td>
      <td><%= link_to 'Edit', edit_cuisine_path(article) %></td>
      <td><%= link_to 'Destroy', cuisine_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>