<p>
  <strong>Id:</strong>
  <%= @cuisine.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cuisine.name %>
</p>

<h2>Recipes in this cuisine</h2>
<ul>
<% @recipes.each do |recipe| %>
<li><%= link_to recipe.name, recipe %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_cuisine_path(@cuisine) %> |
<%= link_to 'Back', cuisines_path %>