<%= form_for(shop_franchise) do |f| %>
  <% if shop_franchise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shop_franchise.errors.count, "error") %> prohibited this shop_franchise from being saved:</h2>

      <ul>
      <% shop_franchise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
