<p id="notice"><%= notice %></p>

<h1>Shop Franchises</h1>

<table>
  <thead>
    <tr>
     <th>Image</th>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @shop_franchises.each do |shop_franchise| %>
      <tr>
        <td><img src="<%= shop_franchise.image %>" style="width: 200px;"></td>
        <td><%= shop_franchise.name %></td>
        <td><%= link_to 'Show', shop_franchise %></td>
        <td><%= link_to 'Edit', edit_shop_franchise_path(shop_franchise) %></td>
        <td><%= link_to 'Destroy', shop_franchise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop Franchise', new_shop_franchise_path %>
