<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop_franchise.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shop_franchise.description %>
</p>

<% if @shop_franchise.image %>
<p>
  <strong>Image:</strong>
  <img src="<%= @shop_franchise.image %>" style="width: 260px;">
</p>
<% end %>

<% if @shop_franchise.website %>
<p>
  <strong>Website:</strong>
  <a href="<%= @shop_franchise.website %>" target="_blank"><%= @shop_franchise.website %></a>
</p>
<% end %>

<%= link_to 'Edit', edit_shop_franchise_path(@shop_franchise) %> |
<%= link_to 'Back', shop_franchises_path %>
