<%= form_for([@product, @nutrition]) do |f| %>
 
  <% if @nutrition.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@nutrition.errors.count, "error") %> prohibited
        this cuisine from being saved:
      </h2>
      <ul>
        <% @nutrition.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :calories %><br>
    <%= f.number_field :calories %>
  </p>
 
  <p>
    <%= f.label :fats %><br>
    <%= f.text_field :fats %>
  </p>
 
  <p>
    <%= f.label :saturated_fats %><br>
    <%= f.text_field :saturated_fats %>
  </p>
 
  <p>
    <%= f.label :carbohydrates %><br>
    <%= f.text_field :carbohydrates %>
  </p>
 
  <p>
    <%= f.label :sugars %><br>
    <%= f.text_field :sugars %>
  </p>
 
  <p>
    <%= f.label :fiber %><br>
    <%= f.text_field :fiber %>
  </p>
 
  <p>
    <%= f.label :proteins %><br>
    <%= f.text_field :proteins %>
  </p>
 
  <p>
    <%= f.label :salt %><br>
    <%= f.text_field :salt %>
  </p>
 
  <p>
    <%= f.label :vitamin_a %><br>
    <%= f.text_field :vitamin_a %>
  </p>
 
  <p>
    <%= f.label :vitamin_b1 %><br>
    <%= f.text_field :vitamin_b1 %>
  </p>
 
  <p>
    <%= f.label :vitamin_b2 %><br>
    <%= f.text_field :vitamin_b2 %>
  </p>
 
  <p>
    <%= f.label :vitamin_b3 %><br>
    <%= f.text_field :vitamin_b3 %>
  </p>
 
  <p>
    <%= f.label :vitamin_b5 %><br>
    <%= f.text_field :vitamin_b5 %>
  </p>
 
  <p>
    <%= f.label :vitamin_b6 %><br>
    <%= f.text_field :vitamin_b6 %>
  </p>
 
  <p>
    <%= f.label :vitamin_b7 %><br>
    <%= f.text_field :vitamin_b7 %>
  </p>
 
  <p>
    <%= f.label :vitamin_b9 %><br>
    <%= f.text_field :vitamin_b9 %>
  </p>
 
  <p>
    <%= f.label :vitamin_b12 %><br>
    <%= f.text_field :vitamin_b12 %>
  </p>
 
  <p>
    <%= f.label :vitamin_c %><br>
    <%= f.text_field :vitamin_c %>
  </p>
 
  <p>
    <%= f.label :vitamin_d %><br>
    <%= f.text_field :vitamin_d %>
  </p>
 
  <p>
    <%= f.label :vitamin_e %><br>
    <%= f.text_field :vitamin_e %>
  </p>
 
  <p>
    <%= f.label :vitamin_k %><br>
    <%= f.text_field :vitamin_k %>
  </p>
 
  <p>
    <%= f.label :nutrition_per %><br>
    <%= f.text_field :nutrition_per %>
  </p>
 
  <p>
    <%= f.label :nutrition_per_unit %><br>
    <%= f.text_field :nutrition_per_unit %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>