<h1>Nutritional information for product <%= @product.name %> </h1>

<p>
  <strong>Id:</strong>
  <%= @nutrition.id %>
</p>

<p>
  <strong>Nutritional information per:</strong>
  <%= @nutrition.nutrition_per %> 
  <%= @nutrition.nutrition_per_unit %> 
</p>

<table>
		<tr><td>Calories</td> <td><%= @nutrition.calories %></td></tr>
		<tr><td>Fats</td> <td><%= @nutrition.fats %></td></tr>
		<tr><td>Saturated fats</td> <td><%= @nutrition.saturated_fats %></td></tr>
		<tr><td>Carbohydrates</td> <td><%= @nutrition.carbohydrates %></td></tr>
		<tr><td>Sugars</td> <td><%= @nutrition.sugars %></td></tr>
		<tr><td>Fiber</td> <td><%= @nutrition.fiber %></td></tr>
		<tr><td>Salt</td> <td><%= @nutrition.salt %></td></tr>
		<tr><td>Vitamin A</td> <td><%= @nutrition.vitamin_a %></td></tr>
		<tr><td>Vitamin B1</td> <td><%= @nutrition.vitamin_b1 %></td></tr>
		<tr><td>Vitamin B2</td> <td><%= @nutrition.vitamin_b2 %></td></tr>
		<tr><td>Vitamin B3</td> <td><%= @nutrition.vitamin_b3 %></td></tr>
		<tr><td>Vitamin B5</td> <td><%= @nutrition.vitamin_b5 %></td></tr>
		<tr><td>Vitamin B6</td> <td><%= @nutrition.vitamin_b6 %></td></tr>
		<tr><td>Vitamin B7</td> <td><%= @nutrition.vitamin_b7 %></td></tr>
		<tr><td>Vitamin B9</td> <td><%= @nutrition.vitamin_b9 %></td></tr>
		<tr><td>Vitamin B12</td> <td><%= @nutrition.vitamin_b12 %></td></tr>
		<tr><td>Vitamin C</td> <td><%= @nutrition.vitamin_c %></td></tr>
		<tr><td>Vitamin D</td> <td><%= @nutrition.vitamin_d %></td></tr>
		<tr><td>Vitamin E</td> <td><%= @nutrition.vitamin_e %></td></tr>
		<tr><td>Vitamin K</td> <td><%= @nutrition.vitamin_k %></td></tr>
</table>

<%= link_to 'Edit', edit_product_product_nutrition_path(@product, @nutrition) %> |

<%= link_to 'Destroy', product_product_nutrition_path(@product, @nutrition),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> |

<%= link_to 'Back', product_path(@product) %>