<%= form_for([@product, @info_shop]) do |f| %>
 
  <% if @info_shop.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@info_shop.errors.count, "error") %> prohibited
        this cuisine from being saved:
      </h2>
      <ul>
        <% @info_shop.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :barcode %><br>
    <%= f.text_field :barcode %>
  </p>
 
  <p>
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </p>
 
  <p>
    <%= f.label :amount_unit %><br>
    <%= f.text_field :amount_unit %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>