<h1>Shop information for product <%= @product.name %> </h1>

<p>
  <strong>Id:</strong>
  <%= @info_shop.id %>
</p>

<table>
		<tr><td>Barcode</td> <td><%= @info_shop.barcode %></td></tr>
		<tr><td>Amount</td> <td><%= @info_shop.amount %> <%= @info_shop.amount_unit %></td></tr>
</table>

<%= link_to 'Edit', edit_product_product_shop_path(@product, @info_shop) %> |

<%= link_to 'Destroy', product_product_shop_path(@product, @info_shop),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> |

<%= link_to 'Back', product_path(@product) %>