<p>What do you want to eat? Got no idea? Well, start looking on this site now to get an idea what's tasty around the world with the products you have.</p>

<ul>
	<li>
		<%= link_to 'Our products', products_path %>	
	</li>
	<li>
		<%= link_to 'Shops we know', shop_franchises_path %>	
	</li>
	<li>
		<%= link_to 'Our cuisines', cuisines_path %>
	</li>
	<li>
		<%= link_to 'Our recipes', recipes_path %>
	</li>
	<li>
		<%= link_to 'Our recipe categories', recipe_categories_path %>	
	</li>
</ul>

