<%= form_for([@product, @product_in_shop]) do |f| %>
  <p>
    <%= f.label :shop_franchise %><br>
    <%= f.text_field :shop_franchise %>
  </p>
  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :price_date %><br>
    <%= f.date_field :price_date %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<% if (!(@product_in_shop.new_record?) && !(@product_in_shop.shop_franchise.nil?)) %>
<script type="text/javascript"> // Dirty workaround, but it works ;)
  $("#product_in_shop_franchise_shop_franchise").val('<%= @product_in_shop.shop_franchise.id %>');
</script>
<% end %>