<p>
  <strong>Shop:</strong>
  <%= link_to product_in_shop_franchise.shop_franchise.name, shop_franchise_path(product_in_shop_franchise.shop_franchise) %>
</p>

<p>
  <strong>Price:</strong>
  <%= product_in_shop_franchise.price %>
</p>

<p>
  <strong>Last update:</strong>
  <%= product_in_shop_franchise.price_date %>
</p>

<p>
  <%= link_to 'Change', edit_product_product_in_shop_franchise_path(@product, product_in_shop_franchise) %> |
  <%= link_to 'Remove', [@product, product_in_shop_franchise],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>