/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#website-title a {
	font-size: 1.5em;
	color: black;
	text-decoration: none;
	padding: 6pt;
}

#website-title a:hover {
	background-color: #666;
}

#website-title {
	margin-bottom: 20pt;
	width: 100%;
	padding-bottom: 15pt;
	border-bottom-style: dotted;
}

#website-title:before {
	content: '::';
}

textarea {
	width: 85%;
	height: 200px;
	
}