<%= form_for @product do |f| %>
 
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :parent %><br>
    <%= f.number_field :parent %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% if (!(@product.new_record?) && !(@product.parent.nil?)) %>
<script type="text/javascript"> // Dirty workaround, but it works ;)
  $("#product_parent").val('<%= @product.parent.id %>');
</script>
<% end %>

<% end %>