<h1>Products</h1>

<%= link_to 'New product', new_product_path %>

<table>
  <tr>
    <th>Product name</th>
    <th></th>
  </tr>
 
  <% @products.each do |article| %>
    <tr>
      <td><%= article.name %></td>
      <td><%= link_to 'Show details', product_path(article) %></td>
      <td><%= link_to 'Edit', edit_product_path(article) %></td>
      <td><%= link_to 'Destroy', product_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>