<h2>Shop availability for <%= @product.name %></h2>
<%= render @product.product_in_shop_franchise %>

<h3>Add shop availability</h3>
<%= render 'product_in_shop_franchises/form' %>


<%= link_to 'Back', product_path(@product) %>