<p>
  <strong>Id:</strong>
  <%= @product.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
 
<p>
  <strong>More generic product:</strong>
  <%=
  if !(@product.parent.nil?)
  	link_to @product.parent.name, product_path(@product.parent)
  else
  	"no more generic product"
  end
  %>
</p>

<h2>Recipes that make this product</h2>
<ul>
<%
  @creating_recipes.each do |recipe|
%>

<li>
<%=
  link_to recipe.name, recipe
%>
</li>

<%  
  end
%>
</ul>


<h2>Recipes that use this product</h2>
<ul>
<%
  @recipes.each do |recipe|
%>

<li>
<%=
  link_to recipe.name, recipe
%>
</li>

<%  
  end
%>
</ul>

<h2>More specific products</h2>
<ul>
<%
  @children.each do |child|
%>

<li>
<%=
  link_to child.name, child
%>
</li>

<%  
  end
%>
</ul>


<hr>

<%=
if (@nutrition.nil?)
  link_to 'Add nutritional information', new_product_product_nutrition_path(@product)
else
  link_to 'View nutritional information', product_product_nutritions_path(@product)
end
%> |
<%=
if (@shop_info.nil?)
  link_to 'Add shop information', new_product_product_shop_path(@product)
else
  link_to 'View shop information', product_product_shops_path(@product)
end
%> |
<%= link_to 'Check shop availability', product_path(@product) + '/shop_availability' %> |
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>