<!DOCTYPE html>
<html>
  <head>
    <title>Food Food Food</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <h1 id="website-title"><a href="/">Food Food Food</a></h1>

    <%= yield %>
  </body>
</html>
